function Jumper.new 0
push constant 4
call Memory.alloc 1
pop pointer 0
push constant 0
pop this 0
push constant 0
pop this 1
push constant 30
pop this 2
push constant 225
pop this 3
push pointer 0
return
function Jumper.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function Jumper.getGoingUp 0
push argument 0
pop pointer 0
push this 0
return
function Jumper.getGoingDown 0
push argument 0
pop pointer 0
push this 1
return
function Jumper.setGoingUp 0
push argument 0
pop pointer 0
push argument 1
pop this 0
push constant 0
return
function Jumper.setGoingDown 0
push argument 0
pop pointer 0
push argument 1
pop this 1
push constant 0
return
function Jumper.resetY 0
push argument 0
pop pointer 0
push constant 225
pop this 3
push constant 0
return
function Jumper.resetX 0
push argument 0
pop pointer 0
push constant 30
pop this 3
push constant 0
return
function Jumper.getX1 0
push argument 0
pop pointer 0
push this 2
return
function Jumper.getX2 0
push argument 0
pop pointer 0
push this 2
push constant 30
add
return
function Jumper.getY1 0
push argument 0
pop pointer 0
push this 3
return
function Jumper.getY2 0
push argument 0
pop pointer 0
push this 3
push constant 30
add
return
function Jumper.move 0
push argument 0
pop pointer 0
push this 3
push constant 225
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
pop this 1
goto IF_END0
label IF_FALSE0
push this 0
not
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 0
not
pop this 1
label IF_FALSE1
label IF_END0
push this 3
push constant 80
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push constant 0
pop this 0
push constant 0
not
pop this 1
label IF_FALSE2
push this 1
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push this 3
push constant 5
add
pop this 3
label IF_FALSE3
push this 0
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push this 3
push constant 5
sub
pop this 3
label IF_FALSE4
push constant 0
return
function Jumper.draw 0
push argument 0
pop pointer 0
push this 2
push this 3
push this 2
push constant 30
add
push this 3
push constant 30
add
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
